.section-projects {
  background: #DCF9C6;
  padding-top: 8px;
  padding-bottom: 7px;
}

.projects-container {
  /* border-top: 0.7px solid rgba(0, 0, 0, 0.2); */
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 7px;
}

.project-container {
  background: #FFF;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.project-image {
  display: flex;
  justify-content: center;
}

.project-image img {
  width: 90%;
  margin-bottom: 7px;
}

.project-content {
  margin: 10px 17px 0px 17px;
}

.project-content > h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-content p {
  margin-bottom: 0px;
}

.project-content-tags {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#tag-year {
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  background: #142850;
  padding: 2px 12px;
  border-radius: 10px;
}

#tag-category {
  color: #8695A4;
  margin-left: 10px;
}