.navbar {
  padding: 0%;
}

.navbar > .container-fluid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  margin-top: 10px;
}

.navbar-container {
  min-height: 50px;
}

.items-menu {
  display: flex;
  justify-content: flex-end;
}

.items-menu a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.items-menu a.active {
  color: #00C060;
}