@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

* {
  font-family: 'Heboo', sans-serif;
}

h1, h2, h3, h4 ,h5, h6 {
  font-weight: bold;
  margin-bottom: 0;
}

h1, h2, h3, h4 ,h5, h6, p {
  color: #21243D;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

img{
  width: 100%;
	height:auto;
}
